<div class="container">
  <h1>Welcome to the loos.end homepage!</h1>

  <div class="row row-cols-1 row-cols-md-4 g-4 d-flex justify-content-center mt-3">
    <% @toilets.each do |toilet| %>
      <div class="col">
        <div class="card">
          <h2><%= link_to "#{toilet.name}", toilet_path(toilet) %></h2>
          <div class="card-body">
            <p><%= "Address: #{toilet.address}" %></p>
            <p><%= "Rating: #{toilet.rating} stars" %></p>
            <p><%= "Opens at: #{toilet.opens_at}" %></p>
            <p><%= "Closes at: #{toilet.closes_at}" %></p>
            <p><%= "Code: #{toilet.toilet_code}" %></p>
            <p><%= "Fee: £#{toilet.fee} per hour" %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
