<div class="container">
  <h1>See all toilets near you!</h1>
    <% Feature.all.each do |feature| %>
      <%= link_to feature.name, toilets_path(feature) %>
    <% end %>
  <div style="width: 100%; height: 500px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<div class="row mt-2">
  <% @toilets.each do |toilet| %>
  <div class="col-sm-6 mb-2">
    <div class="card">
      <div class="card-body">
        <h2><%= link_to "#{toilet.name}", toilet_path(toilet) %></h2>
        <p><%= "Address: #{toilet.address}" %></p>
        <p><%= "Opens at: #{toilet.opens_at.strftime('%H:%M')}
        Closes at: #{toilet.closes_at.strftime('%H:%M')}" %></p>
        <p><%= "Rating: #{toilet.rating} ⭐️" %></p>
      </div>
    </div>
  </div>
  <% end %>
</div>
