<%= render "shared/navbar" %>
<div class="container">
<h3><strong>All Toilets</strong></h3>

<%= form_with url: toilets_path, method: :get, class: "d-flex" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a toilet"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

<p>Select a space from our amazing list of toilets!</p>

<%# Attributes :name, :address, :opens_at, :closes_at, :fee, :toilet_code, :rating %>

<div class="row row-cols-1 row-cols-md-4 g-4 d-flex justify-content-center">
  <% @toilets.each do |toilet| %>
    <div class="col">
      <div class="card">
        <%# link_to image_tag(toilet.image_url, id: "img-list"), toilet_path(toilet) %>
        <div class="card-body">
          <h5><strong> <%= link_to toilet.name, toilet_path(toilet) %> </strong></h5>
          <p><%= "Opens at: #{toilet.opens_at}" %></p>
          <p><%= "Closes at: #{toilet.closes_at}" %></p>
          <p><%= "Closes at: #{toilet.toilet_code}" %></p>
          <p><%= "Rating: #{toilet.rating}" %></p>
          <p><%= "Fee: £#{toilet.fee} per hour approx." %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<p><%= link_to "Back", root_path %></p>
</div>
