<h1 class="fake-navbar">loo.send</h1>
<div class="container d-flex justify-content-between">
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Filter
    </button>
    <ul class="dropdown-menu">
      <% Feature.all.each do |feature| %>
        <a class="dropdown-item" href="#"><%= link_to feature.name, toilets_path(feature.name)%></a>
      <% end %>
        <a class="dropdown-item" href="#"><%= link_to "All toilets", toilets_path%></a>
    </ul>
  </div>
  <% if @name %>
    <%= "You are searching for toilets with the feature: #{@name}" %>
  <% else @name %>
    You have yet to select a feature
  <% end %>
</div>

<div class="container-map">
  <div style="width: 100%; height: 500px; margin: 0"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<div class="container-cards">
  <div class="row mt-2">
  <h2 class="x-loos">loos near you</h2>
    <% @toilets.each do |toilet| %>

    <div class="col-sm-12 mb-3" style="padding-left: 3px; padding-right: 3px">
      <%= link_to toilet_path(toilet), class: "card" do%>
        <div class="card-1">
          <p class="toilet-name"><%= toilet.name %><p>
          <%# <small><%= "Address: #{toilet.address}"</small> %>
        </div>
        <div class="card-2">
          <p class="right-side-description"><%= "Rating: #{toilet.rating} â­ï¸" %></p>
          <p class="right-side-description"><%=  "ðŸ•‘ #{toilet.opens_at.strftime('%H:%M')}
          - #{toilet.closes_at.strftime('%H:%M')}" %>
          </p>
        </div>
      <% end %>
    </div>
        <hr class="dotted">
    <% end %>
  </div>
</div>
