<%= render "shared/navbar" %>

<div class="map-showpage" style="width: 100%; height: 500px;"
  data-controller="map"
  id="show"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>


<div class="container-bcg">
  <div class="d-flex justify-content-between">
    <h3 class="toilet-title-show"><%= "#{@toilet.name}" %></h3>
    <h4 class="direc">Directions</h4>
    <a class="btn directions-button" href="<%="https://www.google.com/maps/dir/?api=1&destination=#{@toilet.address}"%>" target="_blank" role="button">
    </a>
  </div>
  <h3><strong><%= "#{@toilet.name}" %></strong></h3>
  <h5><%= "#{@toilet.address} | #{@avgrating} ⭐️" %></h5>
    <div class="icons-card row row-cols-1 row-cols-md-4 g-4 d-flex justify-content-center mt-3">
    <% @toilet.features.each do |feature| %>
      <% case feature.name %>
        <% when 'Men' %>
          <div class="col-lg-4 col-md-4 col-sm-4 col-4">
            <div class="d-flex flex-column">
              <div class="icon-div p-2">
                <%= image_tag "male.png", class:"feature"%>
              </div>
              <div class="feature-name p-2">
                <%= feature.name %>
              </div>
            </div>
          </div>
        <% when 'Women' %>
          <div class="col-lg-4 col-md-4 col-sm-4 col-4">
            <div class="d-flex flex-column">
              <div class="icon-div p-2">
                <%= image_tag "female.png", class:"feature"%>
              </div>
              <div class="feature-name p-2">
                <%= feature.name %>
              </div>
            </div>
          </div>
        <% when 'Gender Neutral' %>
          <div class="col-lg-4 col-md-4 col-sm-4 col-4">
            <div class="d-flex flex-column">
              <div class="icon-div p-2">
                <%= image_tag "iconsss.png", class:"feature"%>
              </div>
              <div class="feature-name p-2">
                <%= feature.name %>
              </div>
            </div>
          </div>
        <% when 'Privacy' %>
          <div class="col-lg-4 col-md-4 col-sm-4 col-4">
            <div class="d-flex flex-column">
              <div class="icon-div p-2">
                <%= image_tag "door.png", class:"feature"%>
              </div>
              <div class="feature-name p-2">
                <%= feature.name %>
              </div>
            </div>
          </div>
        <% when 'Automatic' %>
          <div class="col-lg-4 col-md-4 col-sm-4 col-4">
            <div class="d-flex flex-column">
              <div class="icon-div p-2">
                <%= image_tag "hand-dryer.png", class:"feature"%>
              </div>
              <div class="feature-name p-2">
                <%= feature.name %>
              </div>
            </div>
          </div>
        <% when 'Baby Changing' %>
          <div class="col-lg-4 col-md-4 col-sm-4 col-4">
            <div class="d-flex flex-column">
              <div class="icon-div p-2">
                <%= image_tag "baby-boy.png", class:"feature"%>
              </div>
              <div class="feature-name p-2">
                <%= feature.name %>
              </div>
            </div>
          </div>
        <% when 'Accessible' %>
          <div class="col-lg-4 col-md-4 col-sm-4 col-4">
            <div class="d-flex flex-column">
              <div class="icon-div p-2">
                <%= image_tag "disability.png", class:"feature"%>
              </div>
              <div class="feature-name p-2">
                <%= feature.name %>
              </div>
            </div>
          </div>
        <% when 'Mirror' %>
          <div class="col-lg-4 col-md-4 col-sm-4 col-4">
            <div class="d-flex flex-column">
              <div class="icon-div p-2">
                <%= image_tag "mirror.png", class:"feature"%>
              </div>
              <div class="feature-name p-2">
                <%= feature.name %>
              </div>
            </div>
          </div>
      <% end %>
    <% end %>
    </div>

  <h5><%= "Leave a review for #{@toilet.name}" %></h5>
  <%= simple_form_for [@toilet, @review] do |f| %>

    <%= f.input :toilet_rating, collection: (1..5).to_a, label: "Rate your experience", input_html: {data: {controller: "star-rating"}} %>
    <%= f.input :comment, label: "Leave a comment (optional)"  %>
    <%= f.submit "Submit your review", class: "btn btn-primary" %>
  <% end %>
  <br>
  <%= link_to "- Back to All Toilets -", toilets_path %>

  <h5 class="mt-3"><%= "Reviews for #{@toilet.name} left by other users" %></h5>
  <ul class="list-group">
    <% @toilet.reviews.each do |review| %>
      <li class="reviews-cards list-group-item mt-3">
       <strong><%="#{review.user.first_name} on #{review.created_at.strftime("%A, %b %d, %Y")}" %></strong>
        <p>

          <%= "Overall Rating: #{review.toilet_rating} ⭐️" %>
        </p>
        <p><%= "#{review.comment}" %>  </p>

      </li>
    <% end %>
  </ul>
</div>
