<%= render "shared/navbar" %>

<div class="map-showpage" style="width: 100%; height: 500px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>


<div class="container-bcg">
  <div class="d-flex justify-content-between">
    <h3 class="toilet-title-show"><%= "#{@toilet.name}" %></h3>
    <h4 class="direc">Directions</h4>
    <a class="btn directions-button" href="<%="https://www.google.com/maps/dir/?api=1&destination=#{@toilet.address}"%>" target="_blank" role="button">
    </a>
  </div>
  <h5 class="toilet-address"><%= "#{@toilet.address} | #{@toilet.rating} ⭐️" %></h5>
    <div class="icons-card row row-cols-1 row-cols-md-4 g-4 d-flex justify-content-center mt-3">
    <% @toilet.features.each do |feature| %>
      <% case feature.name %>
        <% when 'Men' %>
          <div class="col-lg-4 col-md-4 col-sm-4 col-4">
            <div class="d-flex flex-column">
              <div class="icon-div p-2">
                <%= image_tag "male.png", class:"feature"%>
              </div>
              <div class="feature-name p-2">
                <%= feature.name %>
              </div>
            </div>
          </div>
        <% when 'Women' %>
          <div class="col-lg-4 col-md-4 col-sm-4 col-4">
            <div class="d-flex flex-column">
              <div class="icon-div p-2">
                <%= image_tag "female.png", class:"feature"%>
              </div>
              <div class="feature-name p-2">
                <%= feature.name %>
              </div>
            </div>
          </div>
        <% when 'Gender Neutral' %>
          <div class="col-lg-4 col-md-4 col-sm-4 col-4">
            <div class="d-flex flex-column">
              <div class="icon-div p-2">
                <%= image_tag "genderless-solid.svg", class:"feature"%>
              </div>
              <div class="feature-name p-2">
                <%= feature.name %>
              </div>
            </div>
          </div>
        <% when 'Privacy' %>
          <div class="col-lg-4 col-md-4 col-sm-4 col-4">
            <div class="d-flex flex-column">
              <div class="icon-div p-2">
                <%= image_tag "door.png", class:"feature"%>
              </div>
              <div class="feature-name p-2">
                <%= feature.name %>
              </div>
            </div>
          </div>
        <% when 'Automatic' %>
          <div class="col-lg-4 col-md-4 col-sm-4 col-4">
            <div class="d-flex flex-column">
              <div class="icon-div p-2">
                <%= image_tag "hand-dryer.png", class:"feature"%>
              </div>
              <div class="feature-name p-2">
                <%= feature.name %>
              </div>
            </div>
          </div>
        <% when 'Baby Changing' %>
          <div class="col-lg-4 col-md-4 col-sm-4 col-4">
            <div class="d-flex flex-column">
              <div class="icon-div p-2">
                <%= image_tag "baby-boy.png", class:"feature"%>
              </div>
              <div class="feature-name p-2">
                <%= feature.name %>
              </div>
            </div>
          </div>
        <% when 'Accessible' %>
          <div class="col-lg-4 col-md-4 col-sm-4 col-4">
            <div class="d-flex flex-column">
              <div class="icon-div p-2">
                <%= image_tag "disability.svg", class:"feature"%>
              </div>
              <div class="feature-name p-2">
                <%= feature.name %>
              </div>
            </div>
          </div>
        <% when 'Mirror' %>
          <div class="col-lg-4 col-md-4 col-sm-4 col-4">
            <div class="d-flex flex-column">
              <div class="icon-div p-2">
                <%= image_tag "mirror.png", class:"feature"%>
              </div>
              <div class="feature-name p-2">
                <%= feature.name %>
              </div>
            </div>
          </div>
      <% end %>
    <% end %>
    </div>

  <h5><%= "Leave a review for #{@toilet.name}" %></h5>
  <%= simple_form_for [@toilet, @review] do |f| %>
    <%= f.input :toilet_rating %>
    <%= f.input :comment %>
    <%= f.submit "Leave review", class: "btn btn-primary leave-review" %>
  <% end %>
  <%= link_to "Back to Toilets", toilets_path, class: "btn-back" %>

  <h5 class="mt-3"><%= "Reviews for #{@toilet.name} left by other users" %></h5>
  <ul class="list-group">
    <% @toilet.reviews.each do |review| %>
      <li class="list-group-item mt-3">
        <%= "Review left by: #{review.user.first_name} at #{review.created_at}" %>
        <p>
          <%= "Overall Rating: #{review.toilet_rating}" %>
        </p>
        <p><%= "Comment: #{review.comment}" %></p>
      </li>
    <% end %>
  </ul>
</div>
