<%= render "shared/navbar" %>

<div class="map-showpage" style="width: 100%; height: 400px;"
  data-controller="map"
  data-map-page-value="show"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>


<div class="container-bcg">
  <div class="d-flex justify-content-between">
    <h3 class="toilet-title-show"><%= "#{@toilet.name}" %></h3>
    <h4 class="direc">Directions</h4>
    <a class="btn directions-button" href="<%="https://www.google.com/maps/dir/?api=1&destination=#{@toilet.address}"%>" target="_blank" role="button">
    </a>
  </div>
  <h5 class="address"><strong><%= "#{@toilet.address} | #{@avgrating.round(2)} ⭐️" %></strong></h5>
  <div class="icons-card row row-cols-1 row-cols-md-4 g-4 d-flex justify-content-center mt-3">
    <% @toilet.features.each do |feature| %>
      <div class="col-lg-4 col-md-4 col-sm-4 col-4">
        <div class="d-flex flex-column">
          <div class="icon-div p-2">
            <%= image_tag "#{feature.icon}", class:"feature"%>
          </div>
          <div class="feature-name p-2">
            <%= feature.name %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="div-for-filipe">
  <%# <h5><%= "Leave a review for #{@toilet.name}"</h5> %>
  <%= simple_form_for [@toilet, @review] do |f| %>
    <%= f.input :toilet_rating, required: false, collection: (1..5).to_a, label: "Rate your experience", input_html: {data: {controller: "star-rating"} } %>
    <%= f.input :comment, label: "Leave a comment (optional)"  %>
    <%= f.submit "Submit your review", class: "button-reviews btn btn-primary" %>
  <% end %>
  <br>
  <%# <%= link_to "- Back to All Toilets -", toilets_path %>
  </div>

  <h5 class="all-reviews mt-3"><%= "all reviews" %></h5>
  <ul class="list-group">
    <% @toilet.reviews.each do |review| %>
      <li class="reviews-cards list-group-item mt-3">
       <strong><%="#{review.user.first_name} on #{review.created_at.strftime("%A, %b %d, %Y")}" %></strong>
        <p>
          <%= "Rating: #{review.toilet_rating} ⭐️" %>
        </p>
        <p><%= "#{review.comment}" %>  </p>

      </li>
    <% end %>
  </ul>
</div>
