<div class="container">
  <h2><strong><%= "#{@toilet.name}" %></strong></h2>
  <h3><%= "#{@toilet.address} | #{@toilet.rating} stars" %></h3>

  <h5><%= "Leave a review for #{@toilet.name}" %></h5>
  <%= simple_form_for [@toilet, @review] do |f| %>
    <%= f.input :toilet_rating %>
    <%= f.input :hygiene_rating %>
    <%= f.input :comment %>
    <%= f.submit "Leave review", class: "btn btn-primary" %>
  <% end %>
  <%= link_to "Back to Toilets", toilets_path %>

  <h5 class="mt-3"><%= "Reviews for #{@toilet.name} left by other users" %></h5>
  <ul class="list-group">
    <% @toilet.reviews.each do |review| %>
      <li class="list-group-item mt-3">
        <%= "Review left by: #{review.user.first_name} at #{review.created_at}" %>
        <p>
          <%= "Overall Rating: #{review.toilet_rating}" %>
          <%= "Hygiene Rating: #{review.hygiene_rating}" %>
        </p>
        <p><%= "Comment: #{review.comment}" %></p>
      </li>
    <% end %>
  </ul>
</div>
