<%= render "shared/navbar" %>
<div class="container pt-2">
  <h3><strong><%= "Thank you for your feedback, #{@review.user.first_name.capitalize}!" %></strong></h3>
  <ul class="list-group">
      <li class="list-group-item mt-1">
        <h5><%= "ðŸ•‘ #{@review.user.first_name} on #{@review.created_at.strftime('%d %B %Y at %H:%M')}PM"%></h5>
        <h5>
          <%= "Rating: #{@review.toilet_rating} â­ï¸" %>
        </h5>
        <p><%= "#{@review.comment}" %></p>
      </li>
  </ul>
  <%= link_to "Go back", toilet_path(@review.toilet) %>
</div>
